use_flake() {
    watch_file flake.nix
    watch_file flake.lock
    watch_file shell.nix

    for file in scripts/*; do
        watch_file $file
    done

    eval "$(nix print-dev-env)"
}

use flake
